<div class="offcanvas offcanvas-end text-inverse" id="offcanvas-info" data-bs-scroll="true">
  <div class="offcanvas-header">
    <h3 class="text-white fs-30 mb-0">Marketing Icon</h3>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pb-6">
    <div class="widget mb-8">
      <p>نحن هنا لمساعدتك في كل خطوة على الطريق. إذا كان لديك أي أسئلة أو تحتاج إلى استشارة، لا تتردد في الاتصال بنا.</p>
    </div>
    <!-- /.widget -->
    <div class="widget mb-8">
      <h4 class="widget-title text-white mb-3">معلومات الاتصال</h4>
      <address> الخور، المكلا، اليمن </address>
      <a href="mailto:first.last@email.com">info@marketiconix.com</a><br /> +967 770476376
    </div>
    <!-- /.widget -->
    <div class="widget mb-8">
      <h4 class="widget-title text-white mb-3">تعرف أكثر</h4>
      <ul class="list-unstyled pe-0">
        <li><a href="about.html">عنا</a></li>
        <li><a href="about.html">قصتنا</a></li>
        <li><a href="about.html">مشاريعنا</a></li>
        <li><a href="about.html">شروط الاستخدام</a></li>
        <li><a href="about.html">سياسة الخصوصية</a></li>
      </ul>
    </div>
    <!-- /.widget -->
    <div class="widget">
      <h4 class="widget-title text-white mb-3">تابعنا</h4>
      <nav class="nav social social-white">
        <a href="#"><i class="uil uil-twitter"></i></a>
        <a href="#"><i class="uil uil-facebook-f"></i></a>
        <a href="#"><i class="uil uil-dribbble"></i></a>
        <a href="#"><i class="uil uil-instagram"></i></a>
        <a href="#"><i class="uil uil-youtube"></i></a>
      </nav>
      <!-- /.social -->
    </div>
    <!-- /.widget -->
  </div>
  <!-- /.offcanvas-body -->
</div>
<!-- /.offcanvas -->